<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCKKLwg0efhU-GhZUrBWrib3mn0mb9uxyM</string>
	<key>GCM_SENDER_ID</key>
	<string>933926952783</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jai.stockgram.stockgram</string>
	<key>PROJECT_ID</key>
	<string>stockgram-70916</string>
	<key>STORAGE_BUCKET</key>
	<string>stockgram-70916.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:933926952783:ios:029318e5ad2e140693ef3a</string>
</dict>
</plist>